<header>

</header>

<main>
  <section class="app">

    <form class="form" (ngSubmit)="add()">
      <input type="text" [(ngModel)]="newItem" name="item" class="form__input" required>
      <button class="form__button" type="submit" [disabled]="!newItem">Add</button>
    </form>

    <div class="list">
      <div class="list__item">
        <div class="list__number"><button (click)="sort('number')">ID&#9660;</button></div>
        <div class="list__title"><button (click)="sort('name')">Name&#9660;</button></div>
      </div>
      <div class="list__container"  *ngIf="items.length">
        <div class="list__item" *ngFor="let item of items" >
          <span class="list__number">{{item.id}}</span>
          <span class="list__title">{{item.task}}</span>
          <div class="list__delete" ><button (click)="delete(item)">delete</button></div>
        </div>
      </div>
    </div>

  </section>
</main>
